body {
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar{
    position: fixed;
    background-color: darkcyan;
    height: 100vh;
    padding-top: 100px;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.content{
    display: flex;

}

.cat-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
    margin:10px;
}

.cat-card_image{
    height: 300px;
    margin-top: 20px;
}

.cat-card_conter-text_counter{
    font-weight: bold;
    color: blueviolet;
}
